/* 设置整个页面的背景色 */
body {
    background-color: #f0e8ff; /* 设置淡紫色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* 让 app 组件居中显示 */
 
 