.dashboard-statistics {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(165, 200, 223);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden; 
}

/* Limit the size of the line graph */
.chart-container {
  width: 100%;
  max-width: 850px; 
  height: 300px;
  padding: 10px;
  overflow: hidden; 
}

/*  Adapting Canvas to a Container */
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}


.statistics-title {
  font-size: 22px;
  font-weight: bold;
  color: #1b181b;
  margin-bottom: 15px;
}


