
.card-container {
  display: flex;
  flex-direction: row; 
  gap: 20px;
  justify-content: space-between;
}


.card {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.card img {
  width: 115%;
  height: auto;
}

/*  Zoom on mouse hover */
.card:hover {
  transform: scale(1.05);
}


  