/*  Overall layout of the dictionary page */
.dictionary-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*  Title */
.dictionary-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Make word lists and paraphrase boxes left-right aligned */
.dictionary-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Left Side - Word List */
.dictionary-word-list {
  flex: 1;
  width: 400px; 
  padding: 10px;
  border-right: 1px solid #e0e0e0;
  text-align: center;
  overflow: hidden;
  position: relative;
  height:600px;
}

.dictionary-word-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 8px;
  
  overflow-y: auto;
  width: 100%;
  height:550px;
}

.dictionary-word-button {
  display: block;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px !important; 
  font-weight: bold;
}

.dictionary-word-button:hover {
  background-color: #f0f0f0;
}

.dictionary-word-button.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}


.dictionary-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dictionary-pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  transition: background-color 0.3s;
}

.dictionary-pagination button:hover {
  background-color: #bbb;
}

.dictionary-pagination button.active {
  background-color: #999;
  color: white;
}


.dictionary-meaning-section {
  flex: 1;
  width: 440px; 
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.dictionary-meaning-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  min-height: 250px;
  overflow-y: auto;
  width: 440px; 
}