.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  background-color: #eec3e5;
  box-shadow: none;
  position: absolute;

  width: 93%; 
  max-width: 1400px; 
  height: 30px; 

  top:50px; 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  z-index: 100;
}

/* Adaptation to different pages */
.login-container, .register-container, .main-content-container {
  width: 90%;
  max-width: 800px; 
  margin: 80px auto 0; 
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative; 
}


  
  

  /* Setting up the navigation menu */
  .nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin: 0 80px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #480463;
    font-weight: 800;
    transition: color 0.3s;
  }
  
  .nav-menu a:hover {
    color: #6366f1;
  }
  