
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px; 
  height: 650px; 
  background-color: transparent; 
  margin: 50px auto;
  border-radius: 20px;
}


.register-container {
  width: 90%;
  max-width: 800px;
  background-color: #f5f3f3;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px; 
  margin-top: -100px; 
}

/* Centred registration content */
.register-content {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.register-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.register-container input {
  width: 50%;
  max-width: 400px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Register button */
.register-container button {
  width: 55%;
  max-width: 400px;
  padding: 12px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #4f46e5;
}

/* Illustration Picture Positioning */
.illustration-container {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 180px; 
  
  z-index: 150;
}

.illustration-img {
  width: 100%;
  height: auto;
}

.register-page {
  color: rgb(4, 10, 4);
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
